#webrtc-client {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#webrtc-client input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#webrtc-client button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}
