body {
    background: url('/synda_webrtc_sip_client/static/src/img/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

#webrtc-client {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.card {
    border: none;
}

.card-body {
    padding: 30px;
}

.btn {
    font-size: 16px;
    font-weight: bold;
}

.alert {
    text-align: center;
    font-size: 14px;
}
