.o_webrtc_sip_client {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.card {
    border-radius: 10px;
    border: none;
    background: #f9f9f9;
}

.card-body {
    padding: 30px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

.btn {
    font-size: 1rem;
    padding: 10px 20px;
}
