/* Inclure Bootstrap CSS */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

/* Styles personnalisés */
body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #3498db;
  color: white;
  border-radius: 10px 10px 0 0;
}

.card-title {
  color: #3498db;
}

#sip-status, #call-status {
  font-weight: bold;
  color: #2c3e50;
}

.btn-primary, .btn-success {
  border-radius: 25px;
}

.container-fluid {
  padding: 20px;
}

.card-body .card-text {
  font-size: 1.2rem;
}

/* Assurez-vous que les boutons ont une largeur égale dans leurs conteneurs */
.btn-block {
  width: 100%;
}

/* Espacement des éléments dans les cartes */
.card-body > * {
  margin-bottom: 10px;
}

/* Dernière modification pour les cartes dans le tableau de bord */
.card:last-child .card-body > *:last-child {
  margin-bottom: 0;
}